

body {
    background-color: black;
   max-width: 1600px; 
   margin: auto;
}

.wrapper {
    margin: 0 auto;
    color: #fff;
    max-width: 1200px;
    width: 100%;
    padding: 30px;
}

img {
    max-width: 1200px;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: #fff;
}

.header-wrapper {
    margin: 30px auto;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.burger-button {
    display: none;
}

nav {
    align-content: center;
    display: flex;
    align-items: center;
}

.navigation {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-content: center;
    font-family: '';
}

.navigation-item {
    margin:  0 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 12px;
    margin: 15px;
}

.navigation-item:hover {
    color: grey;
    cursor: pointer;
}

.booking {
    margin: auto 0;
}

.button {
    border: 1px solid #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    padding: 15px 20px;
    color: #fff;
    background-color: black;
}


.button:hover {
    color: grey;
    cursor: pointer;
    border-color: grey;
}

.main-wrapper {
    max-width: 1200px;
}

.photo {
    width: 100%;
}

.about {
    margin: 4% 0;
}

.about-button {
    display: flex;
    justify-content: center;
    margin: 5% 0;
}

.name, .about-title {
    color: #fff;
    font-size: 42px;
    line-height: 57px;
    font-family: "Poppins",'Segoe UI','Helvetica Neue',sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
}

.description, .about-description {
    color: #fff;
    font-size: 20px;
    line-height: 32px;
    font-family: "Didact Gothic",'Segoe UI', 'Helvetica Neue',sans-serif;
    font-weight: 400;
    text-align: center;
    padding: 0 20px;
}

.contact-us {
    display: flex;
    justify-content: center;
    margin: 2%;
}

.working-hours {
    width: 33.3%;
}

.information {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    line-height: 32px;
    font-family: "Didact Gothic",'Segoe UI', 'Helvetica Neue',sans-serif;
    text-transform: none;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0;
    width: 100%;
}

.map {
    height: 410px;
    overflow: hidden;
    width: 100%;
}

.up-button {
    position: fixed;
    background-color: #000;
    bottom: 30px;
    right: 30px;
    z-index: 99;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
}

.up-button:hover {
    box-shadow: 0 0 20px rgb(255, 255, 255)
}

.up-icon::before {
    color: #fff;
    content: "^";
    font-family: 'Helvetica Neue',sans-serif;
    font-weight: 400;
}

.footer {
    text-align: center;
    color: #888;
    font-size: 13px;
    line-height: 14px;
    font-family: "Poppins", 'Segoe UI', 'Helvetica Neue',sans-serif;
    text-transform: none;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0;
    margin: 5% 0;
}

.burger {
    display: none;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 3s;
    animation-name: fade;
    animation-duration: 3s;
  }
  
  .shy {
    -webkit-animation-name: shy;
    -webkit-animation-duration: 3s;
    animation-name: shy;
    animation-duration: 3s;
  }

  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

  @keyframes shy {
      from {opacity: 1;}
        to {opacity: 0.4}
  }

@media screen and (max-width: 850px) {
    .open {
        overflow: hidden;
    }

    .open:before{
        visibility: visible;
        opacity: 1;
    }
    
    .header-wrapper {
        flex-direction: column;
        align-items: center;
    }

    .navigation {
        flex-direction: column;
    }

    .booking-button {
        margin: 50px 0;
    }

    .information {
        flex-direction: column;
        align-items: center;
    }

    #menuToggle {
        display: block;
        position: absolute;
        top: 50px;
        left: 50px;
        
        z-index: 1;
        
        -webkit-user-select: none;
        user-select: none;
    }

    #menuToggle li {
        text-decoration: none;
        color: #ffffff;
        
        transition: color 0.3s ease;
    }

    #menuToggle li:hover {
        color: tomato;
    }


    #menuToggle input
        {
            display: block;
            width: 40px;
            height: 32px;
            position: absolute;
            top: -7px;
            left: -5px;
            
            cursor: pointer;
            
            opacity: 0; /* hide this */
            z-index: 2; /* and place it over the hamburger */
            
            -webkit-touch-callout: none;
        }

    #menuToggle span
        {
            display: block;
            width: 33px;
            height: 4px;
            margin-bottom: 5px;
            position: relative;
            
            background: #ffffff;
            border-radius: 3px;
            
            z-index: 1;
            
            transform-origin: 4px 0px;
            
            transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                        background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                        opacity 0.55s ease;
        }

    #menuToggle span:first-child
        {
            transform-origin: 0% 0%;
        }

    #menuToggle span:nth-last-child(2)
        {
            transform-origin: 0% 100%;
        }

    #menuToggle input:checked ~ span
        {
            opacity: 1;
            transform: rotate(45deg) translate(-2px, -1px);
            background: #ffffff;
        }

    #menuToggle input:checked ~ span:nth-last-child(3)
        {
            opacity: 0;
            transform: rotate(0deg) scale(0.2, 0.2);
        }

    #menuToggle input:checked ~ span:nth-last-child(2)
        {
            transform: rotate(-45deg) translate(0, -1px);
        }

    #menu
        {
            position: absolute;
            width: 100vw;
            height: 100vh;
            margin: -100px 0 0 -50px;
            padding: 50px;
            padding-top: 125px;
            
            background: #000000;
            list-style-type: none;
            -webkit-font-smoothing: antialiased;  
            transform-origin: 0% 0%;
            transform: translate(-100%, 0);
            
            transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
        }

    #menu a {
        padding: 10px 0;
        font-size: 22px;
    }

    #menuToggle input:checked ~ ul
        {
            transform: none;
        }
}